.feedbacks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    box-sizing: border-box;
}
.feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    margin: 10px;
    margin-left: 25px;
    border: 2px solid black;
    padding: 5px;
    box-shadow: 0 0 5px black;
    transition: 1s ease;
}
.feedback .photo {
    align-self: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
}
.feedback .text {
    align-self: center;
    text-align: justify;
}
.feedback .name {
    align-self: center;
    text-align: center;
}
.feedback:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px black;
}
.feedback .date {
    align-self: right;
    text-align: right;
}
.feedback .raiting {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.feedback .raiting img {
    margin-left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}