.login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.stat {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    padding-bottom: 0px;
    font-size: x-large;
}

#loginForm {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}

.hide {
    display: none;
}

.opacity-input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
	transition: 1s ease;
}
.opacity-input:hover {
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 7%;
    padding-right: 7%;
}

#login-input {
    font-size: 18px;
    margin-bottom: 20px;
}


#password-input {
    font-size: 18px;
    margin-bottom: 20px;
}

#submit-input {
    font-size: 18px;
    margin-bottom: 20px;
}