body {
	background: linear-gradient(to right, #b8c08c, #989e76);
	font-family: sans-serif;
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.1);
}

.top-header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	box-sizing: border-box;
}

.logo {
	width: 15%;
}
.logo img {
	width: 100%;
}

.title {
	text-align: center;
	width: 55%;
}

.right-space {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search {
	display: flex;
}

.search input {
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px;
	width: 70%;
}

.search button, #print {
	padding: 5px;
	margin-left: 5px;
	border: 2px solid black;
	cursor: pointer;
	border-radius: 10px;
}
/* hover */
.search button:hover, #print:hover {
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 8px black;
	transition: 0.5s;
}

.menu {
	widows: 100%;
	display: flex;
	justify-content: space-around;
}

.menu li {
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px;
	display: inline;
	color: black;
	box-shadow: 0 0 5px black;
}

.menu li:hover {
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 8px black;
}

.menu a {
	text-decoration: none;
}


.main {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	box-sizing: border-box;
}

.sidebar {
	width: 25%;
}

.content {
	width: 70%;
	font-size: 20px;
	text-align: justify;
}

.content h4 {
	text-align: center;
}

.page {
	overflow: hidden;
	/* max-height: 100vh; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.footer {
	margin-top: auto;
	font-size: 18px;
	padding: 30px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
}



/* .skiptranslate {
	display: none;
}*/
.goog-te-gadget {
	margin: 10px;
} 