#TextEditorSarbTextArea {
    border: 1px solid black;
    padding: 5px;
    font-size: 18px;
    width: 90%;
    height: 90%;
    position: relative;
    margin-top: 10px;
}
#TextEditorSarbTextArea:focus-visible {
    outline: none;
}
#TextEditorSarbToolPanel {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.TextEditorSarbToolButton {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: rgba(0,0, 0, 0);
}
/* img {
    width: 200px;
    height: 200px;
} */

.image {
    width: 130px;
    height: 100px;
    background-size: contain;
    border: 1px solid lightgray;
    background-repeat: no-repeat;
    background-position: center;
    
    display: inline-block;
  
    image-resolution: from-image;
    resize: both;

    overflow: hidden; 
  }

.image img {
    width: 100%;
    height: 100%;
}